<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQ.Properties.Settings.SporOConnectionString" connectionString="Data Source=.;Initial Catalog=SporO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>